.transaction-table-container {
   margin-bottom: 20px;
 }
 .transaction-table {
   width: 100%;
   border-collapse: collapse;
   background-color: #fff;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }
 
 .transaction-table th, .transaction-table td {
   padding: 12px;
   text-align: left;
   border-bottom: 1px solid hwb(0 0% 100%);
 }
 
 .transaction-table th {
   background-color:rgb(238, 233, 159);
   color: rgb(7, 7, 7);
 }

 .transaction-table tr:hover {
   background-color: #f1f1f1;
 }
 
 .transaction-table-pagination {
   display: flex;
   justify-content: center;
   margin-top: 10px;
 }
 
 .transaction-table-pagination button {
   padding: 10px 20px;
   background-color: #007bff;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
   margin-left: 10px;
 }
 

 .transaction-image{
  width:50px;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
 }
 table,th,td{
  border: 1px solid black;
 }